POSTGRES_USER=greenroots
POSTGRES_PASSWORD=greenroots
POSTGRES_DB=greenroots

DB_USER=greenroots
DB_PASSWORD=greenroots
DB_HOST=greenroots-db
DB_PORT=5432
DB_NAME=greenroots

API_BASE_URL=http://greenroots-backend:3000

JWT_SECRET=IMasterEnglishLikeNoOne_CantHackThis_TokenPowerActivated!

STRIPE=sk_test_51RGzPzE4bHLDpK05ParN1huD7atzPzwH74pzxvozjoTLtASaE4jcl67wfCndgDXxK6SIBOekg4R73gj3oiGT9tvb00KKisVLqp

BACKOFFICE=http://localhost:3001/
FRONT=http://localhost:5174/