<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <h1>Danse des poules</h1>
   <ul>
      <% for (tree of data) { %>
      <li><%= tree.name %></li>
      <% } %>
   </ul>
   
</body>
</html>